<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/watchlist.css}">
</th:block>
<body>
<th:block layout:fragment="MainBodyContents">
    <div class="container">
        <!-- 왼쪽: 관심 목록 테이블 -->
        <div class="watchlist-wrapper">
            <h3>내 관심 종목</h3>
            <div class="watchlist">
                <form id="watchlistSearchForm">
                    <div class="mb-3">
                        <input type="text" id="watchlistSearchInput" placeholder="Search">
                        <button type="button" id="cancelwatchlistSearchBtn" class="cancel-btn">Cancel</button>
                    </div>
                </form>
                <table id="watchlistTable">
                    <thead>
                    <tr>
                        <th>Company</th>
                        <th>Code</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${watchlistStocks.isEmpty()}">
                        <td colspan="3" style="text-align: center;">
                            전체 관심 종목 리스트에서 관심 있는 종목들을 추가하세요.
                        </td>
                    </tr>
                    <tr th:each="stock : ${watchlistStocks}">
                        <td th:text="${stock.ticker.company}">Company</td>
                        <td th:text="${stock.ticker.symbol}">Symbol</td>
                        <td>
                            <form th:action="@{/watchlist/delete}" method="post">
                                <input type="hidden" name="userId" th:value="${userId}">
                                <input type="hidden" name="watchlistId" th:value="${stock.userWatchlist.userWatchlistId}">
                                <input type="hidden" name="tickerId" th:value="${stock.ticker.tickerId}">
                                <button type="submit">Remove</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="loadMoreContainer">
                    <button id="loadMoreBtn" class="add-btn" style="display: none;">더보기</button>
                </div>
            </div>
        </div>
        <div class="alltickers-wrapper">
            <h3>전체 관심 종목</h3>
            <div class="allTickers">
                <form id="allTickerSearchForm">
                    <div class="mb-3">
                        <input type="text" id="allTickersSearchInput" placeholder="Search">
                        <button type="button" id="cancelALLTickersSearchBtn" class="cancel-btn">Cancel</button>
                    </div>
                </form>
                <table id="allTickersTable">
                    <thead>
                    <tr>
                        <th>Company</th>
                        <th>Code</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ticker : ${allTickers}">
                        <td th:text="${ticker.company}">Company</td>
                        <td th:text="${ticker.symbol}">Symbol</td>
                        <td>
                            <form th:action="@{/watchlist/add}" method="post">
                                <input type="hidden" name="userId" th:value="${userId}">
                                <input type="hidden" name="watchlistId" th:value="${watchlistId}">
                                <input type="hidden" name="tickerId" th:value="${ticker.tickerId}">
                                <button type="submit">Add</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="allTickersLoadMoreContainer">
                    <button id="allTickersLoadMoreBtn" class="add-btn">더보기</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/watchlist.js}"></script>
</th:block>

</body>
</html>
