.container {
            display: flex;
        }
.watchlist, .all-tickers {
    width: 572px;
    height: 718px;
    left: 71px;
    top: 194px;
    margin: 50px;
    background: #D9D9D9;
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

h2 {
    color: #333;
}

.add-btn, .delete-btn {
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.add-btn:hover, .delete-btn:hover {
    background-color: #45a049;
}
