<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<body>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</th:block>

<!-- Main Body Contents -->
<th:block layout:fragment="MainBodyContents">

    <div class= "container-wrapper">
        <div class="container-navi">
            <ul class = "navi-list">
                <h4>상세정보</h4>
                <hr>
                <li><a class="nav-link" th:href="@{/profile}">내 정보</a></li>
                <li><a class="nav-link" th:href="@{/password-check}">비밀번호 변경</a></li>
                <li><a class="nav-link" th:href="@{/sign-out}">회원 탈퇴</a></li>
            </ul>
        </div>

        <div class="container-form">
            <h2>비밀번호 수정</h2>
            <!-- 사용자 정보 수정 폼 -->
            <form th:action="@{/user/update}" method="post">
                <!-- password -->
                <div class="form-group">
                    <label for="passsword">비밀번호 확인</label>
                    <div>
                        <input type="email" id="passsword" name="passwrod" th:value="${user?.password}" placeholder="비밀번호를 입력하세요" required />
                    </div>
                    <small th:if="${emailError}" th:text="${emailError}" class="form-text text-danger"></small>
                </div>
                <!-- Submit Button -->
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">확인</button>
                </div>
            </form>

        </div>
    </div>
</th:block>

</body>
</html>