<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<body>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</th:block>

<!-- Main Body Contents -->
<th:block layout:fragment="MainBodyContents">

    <div class= "container-wrapper">
        <div class="container-navi">
            <ul class = "navi-list">
                <h4>상세정보</h4>
                <hr>
                <li>비밀번호 변경</li>
                <li>회원 탈퇴</li>
            </ul>
        </div>

        <div class="container-form">
            <h2>사용자 상세정보 편집</h2>
            <!-- 사용자 정보 수정 폼 -->
            <form th:action="@{/user/update}" method="post">
                <!-- 사용자 ID (숨김 처리) -->
                <input type="hidden" name="id" th:value="${user?.userId}" />

                <!-- Email -->
                <div class="form-group">
                    <label for="email">이메일:</label>
                    <div>
                        <input type="email" id="email" name="email" th:value="${user?.email}" placeholder="이메일을 입력하세요" required />
                        <button type="button" id="check-email-duplicate">중복확인</button>
                    </div>
                    <small th:if="${emailError}" th:text="${emailError}" class="form-text text-danger"></small>
                </div>

                <!-- Nickname -->
                <div class="form-group">
                    <label for="nickname">닉네임:</label>
                    <div>
                        <input type="text" id="nickname" name="nickname" th:value="${user?.nickname}" placeholder="닉네임을 입력하세요" required />
                        <button type="button" id="check-nickname-duplicate">중복확인</button>
                    </div>
                    <small th:if="${nicknameError}" th:text="${nicknameError}" class="form-text text-danger"></small>
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">회원수정</button>
                </div>
            </form>

        </div>
    </div>
</th:block>

</body>
</html>