<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="css/index.css">
</th:block>

<body>

<th:block layout:fragment="MainBodyContents">
    <!-- 메인 뷰 -->
    <main class="container">
        <!--국내 경제 뉴스, 미국 경제 뉴스-->
        <section class="news"> <!--국내 경제 뉴스, 미국 경제 뉴스 2개 클래스로 구성됐습니다.-->
            <div class="news-column"><!--국내 경제 뉴스-->
                <h2>국내 경제 뉴스</h2>
                <br>
                <!--뉴스 언론사, 날짜표시, 데이터를 받아와야 할텐데 그 부분 처리 x-->
                <p class="media-company-color">Craig Bator -</p> <p class="date-color"> 27 Dec 2020</p>
                <div class="news-item"><!-- 위와같은 뉴스 구조 5개-->
                    <!--뉴스 제목, 이미지 기능 처리x-->
                    <h4>Penn's Expanding Political Climate Gears Up For 2020 Election</h4>
                    <img src="image-placeholder.jpg" alt="News Image" class="news-images">
                </div>
                <p class="media-company-color">Craig Bator -</p> <p class="date-color"> 27 Dec 2020</p>
                <div class="news-item"><!-- 위와같은 뉴스 구조 5개-->
                    <!--뉴스 제목, 이미지 기능 처리x-->
                    <h4>Penn's Expanding Political Climate Gears Up For 2020 Election</h4>
                    <img src="image-placeholder.jpg" alt="News Image" class="news-images">
                </div>
                <p class="media-company-color">Craig Bator -</p> <p class="date-color"> 27 Dec 2020</p>
                <div class="news-item"><!-- 위와같은 뉴스 구조 5개-->
                    <!--뉴스 제목, 이미지 기능 처리x-->
                    <h4>Penn's Expanding Political Climate Gears Up For 2020 Election</h4>
                    <img src="image-placeholder.jpg" alt="News Image" class="news-images">
                </div>
                <p class="media-company-color">Craig Bator -</p> <p class="date-color"> 27 Dec 2020</p>
                <div class="news-item"><!-- 위와같은 뉴스 구조 5개-->
                    <!--뉴스 제목, 이미지 기능 처리x-->
                    <h4>Penn's Expanding Political Climate Gears Up For 2020 Election</h4>
                    <img src="image-placeholder.jpg" alt="News Image" class="news-images">
                </div>
                <p class="media-company-color">Craig Bator -</p> <p class="date-color"> 27 Dec 2020</p>
                <div class="news-item"><!-- 위와같은 뉴스 구조 5개-->
                    <!--뉴스 제목, 이미지 기능 처리x-->
                    <h4>Penn's Expanding Political Climate Gears Up For 2020 Election</h4>
                    <img src="image-placeholder.jpg" alt="News Image" class="news-images">
                </div>

                <!-- 국내 주식 더보기 국내 뉴스 탭으로 화면전환 기능x-->
                <button class="more-btn">국내 소식 더 보기...</button>
            </div>
            <div class="divider"></div><!-- 국내 경제 뉴스, 미국 경제 뉴스 섹션 사이에 검은 선을 만드는 용도 입니다.-->

            <div class="news-column"><!-- 미국 경제 뉴스, 위의 국내 경제 뉴스랑 같습니다.-->
                <h2>미국 경제 뉴스</h2>
                <br>
                <p class="media-company-color">Craig Bator -</p> <p class="date-color"> 27 Dec 2020</p>
                <div class="news-item"><!-- 위와같은 뉴스 구조 5개-->
                    <!--뉴스 제목, 이미지 기능 처리x-->
                    <h4>Penn's Expanding Political Climate Gears Up For 2020 Election</h4>
                    <img src="image-placeholder.jpg" alt="News Image" class="news-images">
                </div>
                <p class="media-company-color">Craig Bator -</p> <p class="date-color"> 27 Dec 2020</p>
                <div class="news-item"><!-- 위와같은 뉴스 구조 5개-->
                    <!--뉴스 제목, 이미지 기능 처리x-->
                    <h4>Penn's Expanding Political Climate Gears Up For 2020 Election</h4>
                    <img src="image-placeholder.jpg" alt="News Image" class="news-images">
                </div>
                <p class="media-company-color">Craig Bator -</p> <p class="date-color"> 27 Dec 2020</p>
                <div class="news-item"><!-- 위와같은 뉴스 구조 5개-->
                    <!--뉴스 제목, 이미지 기능 처리x-->
                    <h4>Penn's Expanding Political Climate Gears Up For 2020 Election</h4>
                    <img src="image-placeholder.jpg" alt="News Image" class="news-images">
                </div>
                <p class="media-company-color">Craig Bator -</p> <p class="date-color"> 27 Dec 2020</p>
                <div class="news-item"><!-- 위와같은 뉴스 구조 5개-->
                    <!--뉴스 제목, 이미지 기능 처리x-->
                    <h4>Penn's Expanding Political Climate Gears Up For 2020 Election</h4>
                    <img src="image-placeholder.jpg" alt="News Image" class="news-images">
                </div>
                <p class="media-company-color">Craig Bator -</p> <p class="date-color"> 27 Dec 2020</p>
                <div class="news-item"><!-- 위와같은 뉴스 구조 5개-->
                    <!--뉴스 제목, 이미지 기능 처리x-->
                    <h4>Penn's Expanding Political Climate Gears Up For 2020 Election</h4>
                    <img src="image-placeholder.jpg" alt="News Image" class="news-images">
                </div>

                <!-- 미국 소식 더 보기 미국 뉴스 탭으로 화면전환 기능x-->
                <button class="more-btn">미국 소식 더 보기...</button>
            </div>
            <div class="divider"></div><!-- 미국 경제 뉴스, 주요 경제 지표 섹션 사이에 검은 선을 만드는 용도 입니다.-->
        </section>


        <!-- 우측 경제 지표 탭 입니다.-->
        <aside class="stats">
            <h2>주요 경제 지표</h2>
            <br>

            <div class="stat-item"><!--환율, 지표 표시해주는 영역 입니다 5개입니다.-->
                <div class="stat-item-space"><!--꾸미기용 입니다.-->
                    <!--이미지 받아오는 기능처리 x-->
                    <img src="image-placeholder.jpg" alt="Index" width="50px" height="35px">
                    <p class="index-key">환율</p>
                    <p class="index-value">1406.05원</p><!--실시간 원, 등락, 등락에 따른 +- 색깔변화 처리 x-->
                    <br><br><br>
                </div>
                <p class="before-line">전일 대비 <p class="before-value-red"> +15.8 (0.5%)</p></p>
            </div>

            <div class="stat-item">
                <div class="stat-item-space">
                    <img src="image-placeholder.jpg" alt="Index" width="50px" height="35px">
                    <p class="index-key">환율</p>
                    <p class="index-value">1406.05원</p>
                    <br><br><br>
                </div>
                <p class="before-line">전일 대비 <p class="before-value-red"> +15.8 (0.5%)</p></p>
            </div>

            <div class="stat-item">
                <div class="stat-item-space">
                    <img src="image-placeholder.jpg" alt="Index" width="50px" height="35px">
                    <p class="index-key">환율</p>
                    <p class="index-value">1406.05원</p>
                    <br><br><br>
                </div>
                <p class="before-line">전일 대비 <p class="before-value-red"> +15.8 (0.5%)</p></p>
            </div>

            <div class="stat-item">
                <div class="stat-item-space">
                    <img src="image-placeholder.jpg" alt="Index" width="50px" height="35px">
                    <p class="index-key">환율</p>
                    <p class="index-value">1406.05원</p>
                    <br><br><br>
                </div>
                <p class="before-line">전일 대비 <p class="before-value-red"> +15.8 (0.5%)</p></p>
            </div>

            <div class="stat-item">
                <div class="stat-item-space">
                    <img src="image-placeholder.jpg" alt="Index" width="50px" height="35px">
                    <p class="index-key">환율</p>
                    <p class="index-value">1406.05원</p>
                    <br><br><br>
                </div>
                <p class="before-line">전일 대비 <p class="before-value-red"> +15.8 (0.5%)</p></p>
            </div>

        </aside>
    </main>
</th:block>

</body>
</html>
