<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<body>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</th:block>

<th:block layout:fragment="MainBodyContents">
    <div class="container-wrapper">
        <div class="container-signup">
            <h1>회원가입</h1>
            <form th:action="@{/signup}" method="post">

                <!-- 이메일 입력 -->
                <label for="email">e-mail:</label>
                <input type="text" id="email" name="email" placeholder="ex) scvs@email.com">
                <button type="button" id="check-email-duplicate">중복확인</button>
                <div id="email-validation" class="validation-message"></div>

                <!-- 비밀번호 입력 -->
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="영어, 숫자, 특수문자를 포함한 8자리 이상 비밀번호 입력">
                <div id="password-validation" class="validation-message"></div>

                <!-- 비밀번호 확인 입력 -->
                <label for="Password-check">Password-check:</label>
                <input type="password" id="password-check" name="password-check" placeholder="비밀번호 확인">
                <div id="Password-check-validation" class="validation-message"></div>

                <!-- 닉네임 입력 -->
                <label for="nickname">nickname</label>
                <input type="text" id="nickname" name="nickname" th:value="${randomNickname}" />
                <button type="button" id="check-nickname-duplicate">중복확인</button>
                <div id="nickname-validation" class="validation-message"></div>


                <button type="submit">sign up</button>
                <!-- 로그인이동 -->
                <p>
                    아이디가 있으세요?
                    <a href="/login" class="login-link">로그인</a>
                </p>
            </form>
        </div>
    </div>
    <script th:src="@{/js/signup.js}"></script>
</th:block>

</body>
</html>
