    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layouts/base}">

    <body>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/PSA-detail.css}">
    </th:block>

    <th:block layout:fragment="MainBodyContents">
        <div class="PSA-detail-container">
            <!-- 공지사항 제목 -->
            <h1 th:text="${psa.title}">공지사항 제목</h1>

            <!-- 작성일 -->
            <p th:text="'작성일: ' + ${publishedAt}">작성일: 2024-11-20</p>

            <!-- 내용 -->
            <div class="PSA-content" th:text="${psa.content}">
                공지사항 상세 내용이 이곳에 표시됩니다.
            </div>

            <!-- 관리자 권한일 경우 수정/삭제 버튼 표시 -->
            <div th:if="${isAdmin}">
                <a th:href="@{/PSA/update/{id}(id=${psa.id})}" class="btn btn-warning">수정</a>
                <a href="/PSA/delete" class="btn btn-danger">삭제</a>
            </div>

            <!-- 목록으로 돌아가기 (우측 하단 배치) -->
            <div class="PSA-back-button">
                <a href="/PSA-list" class="btn btn-primary">목록</a>
            </div>
        </div>
    </th:block>

    <!--<th:block layout:fragment="MainBodyContents">
        &lt;!&ndash; 공지사항 상세 &ndash;&gt;
        <div class="PSA-detail-container">
            <h1 th:text="'공지사항 제목'">공지사항 제목</h1>
            <p th:text="'작성일: 2024-11-20'">작성일: 2024-11-20</p>
            <p th:text="'공지사항 내용이 여기에 표시됩니다.'">공지사항 내용이 여기에 표시됩니다.</p>

            &lt;!&ndash; 다음글/이전글 &ndash;&gt;
            <div class="PSA-navigation">
                <a href="/PSAs/prev" class="btn btn-secondary">이전글</a>
                <a href="/PSAs/next" class="btn btn-secondary">다음글</a>
            </div>

            &lt;!&ndash; 관리자 권한일 경우 수정/삭제 버튼 표시 &ndash;&gt;
            <div th:if="false">
                <a href="/psa/edit" class="btn btn-warning">수정</a>
                <a href="/psa/delete" class="btn btn-danger">삭제</a>
            </div>

            <a href="/PSA-list" class="btn btn-primary">목록</a>
        </div>
    </th:block>-->

    </body>
    </html>

